:root{
    --background-color:aliceblue;
    --background-gradient: linear-gradient(rgb(5,253,173) 10%,rgb(115,189,221));
    --background-image: 
}

.pageBackground{
    background-color: var(--background-color);
    margin: 0px;
}

header.header{
	color: white;
    background-image: linear-gradient(rgb(5,253,173) 20%,rgb(115,189,221));
	margin: 0px;
	padding: 0.1em 0.5em 0.1em 0.5em;
    text-align: right;
}

footer.footer{
	color: white;
	/*background-color: #3D6271;*/
    background-image: linear-gradient(rgb(5,253,173) 20%,rgb(115,189,221));
	margin: 0px;
	padding: 0.1em 0.5em 0.1em 0.5em;
    text-align: left;
    font-size:1.1em;
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
}

.button {
    background-color: #8fd4eb;
    color: white;
    border-radius: 10px;
    padding: 20px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
}


.button:hover, .cancelButton:hover, .nextButton:hover, .previousButton:hover {
    background-color: rgb(115,189,221);
    cursor: pointer;
}




div.buttonDiv{
    flex: 0 1 50%;
    display: flex;
    justify-content: center;
}

div.banner{
    background-image: url('healthbanner.png');
    height: 240px;
    margin-left: 0px;
    margin-right: 0px;
}

.aboutUsContent{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    padding: 0px 0px 0px 10px;
    margin: 0px 0px 0px 0px;
    flex:0 1 50%;
}

.homeContent{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    padding: 0px 0px 0px 10px;
    margin: 0px 0px 0px 0px;
}

div.lowerDiv{
    display: flex;
    justify-content: center;
    align-items: center;
}

.cancelButton {
    background-color: #8fd4eb;
    color: white;
    border-radius: 10px;
    padding: 20px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    float: left;
}

.nextButton {
    background-color: #8fd4eb;
    color: white;
    border-radius: 10px;
    padding: 20px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    float: right;
}

.previousButton {
    background-color: #8fd4eb;
    color: white;
    border-radius: 10px;
    padding: 20px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    position: relative;
    top: 20px;
    left: 1020px;
}

div#form2{
    display: none;
}

div#results{
    display: none;
}