:root{
    --background-color:aliceblue;
}

.pageBackground{
    background-color: var(--background-color);
    margin: 0px;
}

header.header{
	color: white;
	background-color: #3D6271;
	margin: 0px;
	padding: 0.1em 0.5em 0.1em 0.5em;
    text-align: right;
}

footer.footer{
	color: white;
	background-color: #3D6271;
	margin: 0px;
	padding: 0.1em 0.5em 0.1em 0.5em;
    text-align: left;
    font-size:1.1em;
    position: absolute;
    bottom: 0px;
    right: 0px;
    left: 0px;
}

.button {
    background-color: #8fd4eb;
    border-radius: 10px;
    color: lightgrey;
    padding: 20px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 18px;

}

div.banner{
    background-color: lightgreen;
    height: 240px;
    margin-left: 0px;
    margin-right: 0px;
}

.aboutUsContent{
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 24px;
    padding: 0px 0px 0px 10px;
    margin: 0px 0px 0px 0px;
}

